# Module 3: From `datascience` to `pandas`: II

In [ ]:
!pip install datascience
import pandas as pd 
from datascience import *
import numpy as np

Collecting datascience
  Downloading datascience-0.16.1.tar.gz (43 kB)
     |████████████████████████████████| 43 kB 999 kB/s eta 0:00:011
Collecting folium>=0.9.1
  Downloading folium-0.11.0-py2.py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 1.6 MB/s eta 0:00:011
Collecting sphinx
  Downloading Sphinx-3.2.1-py3-none-any.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 21.3 MB/s eta 0:00:01
Requirement already satisfied: setuptools in /opt/venv/lib/python3.7/site-packages (from datascience) (49.6.0)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/venv/lib/python3.7/site-packages (from datascience) (3.3.1)
Requirement already satisfied: pandas in /opt/venv/lib/python3.7/site-packages (from datascience) (1.0.5)
Requirement already satisfied: scipy in /opt/venv/lib/python3.7/site-packages (from datascience) (1.5.2)
Requirement already satisfied: numpy in /opt/venv/lib/python3.7/site-packages (from datascience) (1.19.2)
Requirement already satisfied: ipython in /opt/venv/lib/python3.7/site-packages (from datascience) (7.18.1)
Collecting pytest
  Downloading pytest-6.0.2-py3-none-any.whl (270 kB)
     |████████████████████████████████| 270 kB 38.9 MB/s eta 0:00:01
Collecting coverage
  Downloading coverage-5.3-cp37-cp37m-manylinux1_x86_64.whl (229 kB)
     |████████████████████████████████| 229 kB 43.6 MB/s eta 0:00:01
Collecting coveralls
  Downloading coveralls-2.1.2-py2.py3-none-any.whl (13 kB)
Collecting bokeh
  Downloading bokeh-2.2.1.tar.gz (8.8 MB)
     |████████████████████████████████| 8.8 MB 32.0 MB/s eta 0:00:01�██████████▍                    | 3.1 MB 32.0 MB/s eta 0:00:01
Requirement already satisfied: jinja2>=2.9 in /opt/venv/lib/python3.7/site-packages (from folium>=0.9.1->datascience) (2.11.2)
Collecting branca>=0.3.0
  Downloading branca-0.4.1-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in /opt/venv/lib/python3.7/site-packages (from folium>=0.9.1->datascience) (2.24.0)
Collecting babel>=1.3
  Downloading Babel-2.8.0-py2.py3-none-any.whl (8.6 MB)
     |████████████████████████████████| 8.6 MB 34.7 MB/s eta 0:00:01
Collecting sphinxcontrib-htmlhelp
  Downloading sphinxcontrib_htmlhelp-1.0.3-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 4.1 MB/s  eta 0:00:01
Collecting docutils>=0.12
  Downloading docutils-0.16-py2.py3-none-any.whl (548 kB)
     |████████████████████████████████| 548 kB 46.2 MB/s eta 0:00:01
Collecting sphinxcontrib-applehelp
  Downloading sphinxcontrib_applehelp-1.0.2-py2.py3-none-any.whl (121 kB)
     |████████████████████████████████| 121 kB 46.2 MB/s eta 0:00:01
Collecting snowballstemmer>=1.1
  Downloading snowballstemmer-2.0.0-py2.py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 6.8 MB/s  eta 0:00:01
Collecting sphinxcontrib-jsmath
  Downloading sphinxcontrib_jsmath-1.0.1-py2.py3-none-any.whl (5.1 kB)
Collecting sphinxcontrib-devhelp
  Downloading sphinxcontrib_devhelp-1.0.2-py2.py3-none-any.whl (84 kB)
     |████████████████████████████████| 84 kB 3.3 MB/s  eta 0:00:01
Requirement already satisfied: Pygments>=2.0 in /opt/venv/lib/python3.7/site-packages (from sphinx->datascience) (2.7.0)
Collecting sphinxcontrib-serializinghtml
  Downloading sphinxcontrib_serializinghtml-1.1.4-py2.py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 8.4 MB/s  eta 0:00:01
Collecting sphinxcontrib-qthelp
  Downloading sphinxcontrib_qthelp-1.0.3-py2.py3-none-any.whl (90 kB)
     |████████████████████████████████| 90 kB 6.3 MB/s  eta 0:00:01
Collecting imagesize
  Downloading imagesize-1.2.0-py2.py3-none-any.whl (4.8 kB)
Collecting alabaster<0.8,>=0.7
  Downloading alabaster-0.7.12-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: packaging in /opt/venv/lib/python3.7/site-packages (from sphinx->datascience) (20.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (2020.6.20)
Requirement already satisfied: python-dateutil>=2.1 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (7.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/venv/lib/python3.7/site-packages (from matplotlib>=3.0.0->datascience) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /opt/venv/lib/python3.7/site-packages (from pandas->datascience) (2020.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (3.0.7)
Requirement already satisfied: jedi>=0.10 in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (0.17.2)
Requirement already satisfied: traitlets>=4.2 in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (5.0.4)
Requirement already satisfied: decorator in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (4.4.2)
Requirement already satisfied: pickleshare in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: backcall in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: pexpect>4.3; sys_platform != "win32" in /opt/venv/lib/python3.7/site-packages (from ipython->datascience) (4.8.0)
Collecting iniconfig
  Downloading iniconfig-1.0.1-py3-none-any.whl (4.2 kB)
Collecting toml
  Downloading toml-0.10.1-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /opt/venv/lib/python3.7/site-packages (from pytest->datascience) (1.7.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/venv/lib/python3.7/site-packages (from pytest->datascience) (20.2.0)
Collecting pluggy<1.0,>=0.12
  Downloading pluggy-0.13.1-py2.py3-none-any.whl (18 kB)
Collecting more-itertools>=4.0.0
  Downloading more_itertools-8.5.0-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 3.5 MB/s  eta 0:00:01
Collecting py>=1.8.2
  Downloading py-1.9.0-py2.py3-none-any.whl (99 kB)
     |████████████████████████████████| 99 kB 7.9 MB/s  eta 0:00:01
Collecting docopt>=0.6.1
  Downloading docopt-0.6.2.tar.gz (25 kB)
Collecting PyYAML>=3.10
  Downloading PyYAML-5.3.1.tar.gz (269 kB)
     |████████████████████████████████| 269 kB 33.9 MB/s eta 0:00:01
Requirement already satisfied: tornado>=5.1 in /opt/venv/lib/python3.7/site-packages (from bokeh->datascience) (6.0.4)
Collecting typing_extensions>=3.7.4
  Downloading typing_extensions-3.7.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/venv/lib/python3.7/site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (1.1.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/venv/lib/python3.7/site-packages (from requests->folium>=0.9.1->datascience) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/venv/lib/python3.7/site-packages (from requests->folium>=0.9.1->datascience) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/venv/lib/python3.7/site-packages (from requests->folium>=0.9.1->datascience) (1.25.10)
Requirement already satisfied: six in /opt/venv/lib/python3.7/site-packages (from packaging->sphinx->datascience) (1.15.0)
Requirement already satisfied: wcwidth in /opt/venv/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->datascience) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/venv/lib/python3.7/site-packages (from jedi>=0.10->ipython->datascience) (0.7.1)
Requirement already satisfied: ipython-genutils in /opt/venv/lib/python3.7/site-packages (from traitlets>=4.2->ipython->datascience) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/venv/lib/python3.7/site-packages (from pexpect>4.3; sys_platform != "win32"->ipython->datascience) (0.6.0)
Requirement already satisfied: zipp>=0.5 in /opt/venv/lib/python3.7/site-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest->datascience) (3.1.0)
Building wheels for collected packages: datascience, bokeh, docopt, PyYAML
  Building wheel for datascience (setup.py) ... done
  Created wheel for datascience: filename=datascience-0.16.1-py3-none-any.whl size=44483 sha256=61c97b4a135e6daf07818c753c730f92057639f36ce1dfa191ec95e65637c7b1
  Stored in directory: /home/jovyan/.cache/pip/wheels/a6/71/8f/a6a615b303f319a08f2fa4224365a29f1f0a8f6de4682d4bc2
  Building wheel for bokeh (setup.py) ... done
  Created wheel for bokeh: filename=bokeh-2.2.1-py3-none-any.whl size=9294618 sha256=b30c81399e1286d7b1fcc3d69f5b8ed9913842704a2df11fe639359f4631487f
  Stored in directory: /home/jovyan/.cache/pip/wheels/3b/ef/ce/1a2578df20c16fb3384699bc3cbcf9c91c04056ec0f318767c
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13704 sha256=04421a2a76193679d2217d366613961e8e7ece7e167106a5a20fdc152efbecd2
  Stored in directory: /home/jovyan/.cache/pip/wheels/72/b0/3f/1d95f96ff986c7dfffe46ce2be4062f38ebd04b506c77c81b9
  Building wheel for PyYAML (setup.py) ... done
  Created wheel for PyYAML: filename=PyYAML-5.3.1-cp37-cp37m-linux_x86_64.whl size=44619 sha256=61034c72946f88df91c49d7a54aa792c48c956bc771624b64fc6ca434bc53c29
  Stored in directory: /home/jovyan/.cache/pip/wheels/5e/03/1e/e1e954795d6f35dfc7b637fe2277bff021303bd9570ecea653
Successfully built datascience bokeh docopt PyYAML
Installing collected packages: branca, folium, babel, sphinxcontrib-htmlhelp, docutils, sphinxcontrib-applehelp, snowballstemmer, sphinxcontrib-jsmath, sphinxcontrib-devhelp, sphinxcontrib-serializinghtml, sphinxcontrib-qthelp, imagesize, alabaster, sphinx, iniconfig, toml, pluggy, more-itertools, py, pytest, coverage, docopt, coveralls, PyYAML, typing-extensions, bokeh, datascience
  Attempting uninstall: pluggy
    Found existing installation: pluggy 1.0.0.dev0
    Uninstalling pluggy-1.0.0.dev0:
      Successfully uninstalled pluggy-1.0.0.dev0
Successfully installed PyYAML-5.3.1 alabaster-0.7.12 babel-2.8.0 bokeh-2.2.1 branca-0.4.1 coverage-5.3 coveralls-2.1.2 datascience-0.16.1 docopt-0.6.2 docutils-0.16 folium-0.11.0 imagesize-1.2.0 iniconfig-1.0.1 more-itertools-8.5.0 pluggy-0.13.1 py-1.9.0 pytest-6.0.2 snowballstemmer-2.0.0 sphinx-3.2.1 sphinxcontrib-applehelp-1.0.2 sphinxcontrib-devhelp-1.0.2 sphinxcontrib-htmlhelp-1.0.3 sphinxcontrib-jsmath-1.0.1 sphinxcontrib-qthelp-1.0.3 sphinxcontrib-serializinghtml-1.1.4 toml-0.10.1 typing-extensions-3.7.4.3
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the '/opt/venv/bin/python -m pip install --upgrade pip' command.

In this notebook, we will be working with the `cones` table, a very small table about ice cream flavors used simply for pedagogical purposes. 
The table is loaded using both `datascience` and `pandas` below.

In [ ]:
cones_tbl = Table().read_table('cones.csv')
cones_df = pd.read_csv('cones.csv')

## Inserting New Columns

First, let's take a look at the `cones` dataframe in `pandas` to see what we are working with.

In [ ]:
cones_df

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

We have new information about the types of cones for each ice cream! 
Suppose your friend tells you information on what types of cones each ice cream comes with. 
We want to add this as a column to our data.

In [ ]:
type_of_cone = ["Waffle", "Sugar", "Sugar", "Waffle", "Waffle", "Sugar"]

We can add the new data as a column to the `cones` table by using the `tbl.with_columns()` function in the `datascience` package.

In [ ]:
cones_tbl = cones_tbl.with_columns("Type of Cone", type_of_cone)
cones_tbl

Flavor     | Color       | Price | Type of Cone
strawberry | pink        | 3.55  | Waffle
chocolate  | light brown | 4.75  | Sugar
chocolate  | dark brown  | 5.25  | Sugar
strawberry | pink        | 5.25  | Waffle
chocolate  | dark brown  | 5.25  | Waffle
bubblegum  | pink        | 4.75  | Sugar

There are many ways to add a new column to a dataframe in `pandas` — the easiest way is shown below. 
The string inside the bracket denotes the new column name, and you assign it to the list containing the new column.

In [ ]:
cones_df["Type of Cone"] = type_of_cone
cones_df

       Flavor        Color  Price Type of Cone
0  strawberry         pink   3.55       Waffle
1   chocolate  light brown   4.75        Sugar
2   chocolate   dark brown   5.25        Sugar
3  strawberry         pink   5.25       Waffle
4   chocolate   dark brown   5.25       Waffle
5   bubblegum         pink   4.75        Sugar

Some other methods of adding a new column include `df.insert(index_at, col_name, new_col_data)`.
Here the `index_at` argument specifies the index where you want to insert the column at.

If you are interested in familiarizing yourself with more methods to add columns into existing data frames, 
check out [this website](https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/).

In [ ]:
cones_df.insert(2, "Type of Cone2", type_of_cone) 
cones_df

       Flavor        Color Type of Cone2  Price Type of Cone
0  strawberry         pink        Waffle   3.55       Waffle
1   chocolate  light brown         Sugar   4.75        Sugar
2   chocolate   dark brown         Sugar   5.25        Sugar
3  strawberry         pink        Waffle   5.25       Waffle
4   chocolate   dark brown        Waffle   5.25       Waffle
5   bubblegum         pink         Sugar   4.75        Sugar

## Dropping Columns

Sometimes the dataframe will contain information that you are not interested in. 
In that case, we may want to drop the irrelevant columns since they could clutter up your table.
With `datascience`, the function to drop a column is `tbl.drop(col_name)`.

In [ ]:
cones_tbl.drop("Type of Cone")

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

One thing to note is that the drop function in `datascience`, like most other functions, does not actually change the original table.

In [ ]:
# the cones_tbl is unchanged
cones_tbl

Flavor     | Color       | Price | Type of Cone
strawberry | pink        | 3.55  | Waffle
chocolate  | light brown | 4.75  | Sugar
chocolate  | dark brown  | 5.25  | Sugar
strawberry | pink        | 5.25  | Waffle
chocolate  | dark brown  | 5.25  | Waffle
bubblegum  | pink        | 4.75  | Sugar

To make changes to the original variable, we need to reassign the new table returned by `tbl.drop` to the original name.

In [ ]:
# now the cones_tbl is changed
cones_tbl = cones_tbl.drop("Type of Cone")
cones_tbl

Flavor     | Color       | Price
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

To do the same procedure in `pandas`, we use [`df.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html). 
However, one main difference is that we would need to specify that we want to drop columns, since `df.drop` can also drop rows.

In [ ]:
# the drop function without any other arguments does not change the original dataframe
cones_df.drop(columns=['Type of Cone'])

       Flavor        Color Type of Cone2  Price
0  strawberry         pink        Waffle   3.55
1   chocolate  light brown         Sugar   4.75
2   chocolate   dark brown         Sugar   5.25
3  strawberry         pink        Waffle   5.25
4   chocolate   dark brown        Waffle   5.25
5   bubblegum         pink         Sugar   4.75

Note that, similar to its relative in `datascience`, the `drop` function in pandas does not change the original dataframe.

In [ ]:
cones_df

       Flavor        Color Type of Cone2  Price Type of Cone
0  strawberry         pink        Waffle   3.55       Waffle
1   chocolate  light brown         Sugar   4.75        Sugar
2   chocolate   dark brown         Sugar   5.25        Sugar
3  strawberry         pink        Waffle   5.25       Waffle
4   chocolate   dark brown        Waffle   5.25       Waffle
5   bubblegum         pink         Sugar   4.75        Sugar

Instead, to make changes to the original dataframe, we can specify `inplace = True`. 
In the code below, we drop 2 columns, `Type of Cone` and `Type of Cone2`, in the dataframe.

In [ ]:
cones_df.drop(columns=['Type of Cone', 'Type of Cone2'], inplace = True)
cones_df

       Flavor        Color  Price
0  strawberry         pink   3.55
1   chocolate  light brown   4.75
2   chocolate   dark brown   5.25
3  strawberry         pink   5.25
4   chocolate   dark brown   5.25
5   bubblegum         pink   4.75

#### Drop a row by index

The [`df.drop`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) function can also drop rows by their index. To do this, we just need to specify the index of the rows we want to drop.

In [ ]:
# drops the rows with index 0 and 1
cones_df.drop([0, 1])

       Flavor       Color  Price
2   chocolate  dark brown   5.25
3  strawberry        pink   5.25
4   chocolate  dark brown   5.25
5   bubblegum        pink   4.75

## Renaming Columns

If the names of the columns that's read in from our dataset are not descriptive, we may want to change the names of the columns.
To do this in `datascience`, we use `tbl.relabel(old_name, new_name)`. 
Note that this operation in `datascience` is in place and modifies the original table.

In [ ]:
cones_tbl.relabel("Price", "Price per Cone")
cones_tbl

Flavor     | Color       | Price per Cone
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

The function to do this with `pandas` is `df.rename`. Since you can also change the index of the rows with `df.rename`, 
we would also need to specify that we are changing the name of the columns. 

We do this by passing in a [dictionary](https://www.geeksforgeeks.org/python-dictionary/) to the `columns` parameter, where each key is the name of the old column name and the value corresponding to each key is the new column name.

If you are interested in knowing more about `df.rename` and other ways to use it, you can check out the [documentation page](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html).

In [ ]:
# rename the column "Price" by modifying the original dataframe
cones_df.rename(columns={'Price':'Price of one Cone'}, inplace=True)
cones_df

       Flavor        Color  Price of one Cone
0  strawberry         pink               3.55
1   chocolate  light brown               4.75
2   chocolate   dark brown               5.25
3  strawberry         pink               5.25
4   chocolate   dark brown               5.25
5   bubblegum         pink               4.75

With `pandas`, we can also specify the names of all columns with a single line of code. This is especially useful when the dataset
you read in doesn't come with specified column names.

In [ ]:
# change all column labels of cones_df
cones_df.columns = ["Flavor", "Color", "Price per Cone"]
cones_df

       Flavor        Color  Price per Cone
0  strawberry         pink            3.55
1   chocolate  light brown            4.75
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25
5   bubblegum         pink            4.75

With the same `df.columns` command, we can also specify which column name we want to change by doing `df.columns.values[col_index] = new_col_name`.

In [ ]:
# lists all column labels of cones_df
cones_df.columns

Index(['Flavor', 'Color', 'Price per Cone'], dtype='object')

## Sorting Columns

What if we want to know the flavor of the most expensive ice-cream? In this case we would like to sort the table by the "Price per Cone" column.
To do this in `datascience`, we need to use `tbl.sort(col_name)`. The default sorting order in `tbl.sort(col_name)` is `descending = False`,
returning a table where the lowest value is on the top.

In [ ]:
# sorts the table by "Price per Cone", with the default descending = False (ascending)
cones_tbl.sort("Price per Cone")

Flavor     | Color       | Price per Cone
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

Notice that the `tbl.sort` function does not operate in place and does not make changes to the original table.

In [ ]:
cones_tbl

Flavor     | Color       | Price per Cone
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25
bubblegum  | pink        | 4.75

In [ ]:
# to change the orignal table, we need to set the new sorted table to the old table
cones_tbl_sorted = cones_tbl.sort("Price per Cone")
cones_tbl_sorted

Flavor     | Color       | Price per Cone
strawberry | pink        | 3.55
chocolate  | light brown | 4.75
bubblegum  | pink        | 4.75
chocolate  | dark brown  | 5.25
strawberry | pink        | 5.25
chocolate  | dark brown  | 5.25

[`df.sort_values`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) is the function in `pandas` that sorts the dataframe by a specified column. 
One major difference between this function and `tbl.sort(col_name)` is that although both functions default to sorting with ascending order, 
the argument to specify sorting order with `df.sort_values` is `ascending = True/False`. By default, `pandas` sets `ascending=True`.

In [ ]:
# sorts cones_df in ascending order of 'Price per Cone'
cones_df.sort_values("Price per Cone")

       Flavor        Color  Price per Cone
0  strawberry         pink            3.55
1   chocolate  light brown            4.75
5   bubblegum         pink            4.75
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25

In [ ]:
# sorts cones_df in descending order of 'Price per Cone'
cones_df.sort_values("Price per Cone", ascending = False)

       Flavor        Color  Price per Cone
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25
1   chocolate  light brown            4.75
5   bubblegum         pink            4.75
0  strawberry         pink            3.55

Similar to `tbl.sort(col_name)`, there is also an `inplace` argument to edit the original dataframe.

In [ ]:
# modify cones_df by sorting it in descending order of 'Price per Cone'
cones_df.sort_values("Price per Cone", ascending = False, inplace = True)
cones_df

       Flavor        Color  Price per Cone
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25
1   chocolate  light brown            4.75
5   bubblegum         pink            4.75
0  strawberry         pink            3.55

We can also sort a table by its index using [`sort_index`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_index.html). The function works very similarly as `sort_values`, but does not require us to pass in a column since we are sorting the index.

In [ ]:
cones_df.sort_index(inplace=True)
cones_df

       Flavor        Color  Price per Cone
0  strawberry         pink            3.55
1   chocolate  light brown            4.75
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25
5   bubblegum         pink            4.75

## Merging Dataframes

Like the `join` function in `datascience`, we use [`merge`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) in `pandas` to join two dataframes based on some common characteristics. 

Here is the `cones_df`. Notice that the `Flavor` column has three unique values: 'strawberry', 'chocolate', and 'bubblegum'.

In [ ]:
cones_df

       Flavor        Color  Price per Cone
0  strawberry         pink            3.55
1   chocolate  light brown            4.75
2   chocolate   dark brown            5.25
3  strawberry         pink            5.25
4   chocolate   dark brown            5.25
5   bubblegum         pink            4.75

We will create a new dataframe called `ratings`. It has a column called `Kind` with the values 'strawberry', 'chocolate' and 'vanilla',

In [ ]:
ratings = pd.DataFrame({
    'Kind': ['strawberry', 'chocolate', 'vanilla'],
    'Stars': [2.5, 3.5, 4],
    'No. of Reviewers': [10, 15, 12]}
)
ratings

         Kind  Stars  No. of Reviewers
0  strawberry    2.5                10
1   chocolate    3.5                15
2     vanilla    4.0                12

`cones_df` and `ratings` have common values of 'strawberry' and 'chocolate'. 
It might be useful to have a dataframe with both the price information from `cones_df` and rating information from `ratings`. 
Consequently, we are going to join these two dataframes based on the common values in the `Flavor` and `Kind` columns of `cones_df` and `ratings` respectively. 

The type of [merge](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) we are going to do is called an 'inner join'; this is the most common type of merge and the only one we'll cover (you can learn more about different types of joins [here](https://www.analyticsvidhya.com/blog/2020/02/joins-in-pandas-master-the-different-types-of-joins-in-python/)).
Essentially, an 'inner join' only includes the rows that have common values in both of the dataframes.

The syntax of a merge is as follows: `left_df.merge(right_df, how = 'type of join', left_on = 'column(s) of left df', right_on = 'column(s) of right df')`.

In [ ]:
# join cones_df with ratings
cones_df.merge(ratings, how = 'inner', left_on = 'Flavor', right_on = 'Kind')

,Flavor,Color,Price per Cone,Kind,Stars,No. of Reviewers
0,strawberry,pink,3.55,strawberry,2.5,10
1,strawberry,pink,5.25,strawberry,2.5,10
2,chocolate,light brown,4.75,chocolate,3.5,15
3,chocolate,dark brown,5.25,chocolate,3.5,15
4,chocolate,dark brown,5.25,chocolate,3.5,15

After we merge the dataframes, we get all the columns in the two dataframes. 
For example, for every instance of `strawberry` in the `cones_df`, merging will match each row with `strawberry` in the `rating` dataframe into the resulting dataframe. 
Since there are two rows that have `strawberry` in the `cones_df`, we have two rows for `strawberry` in the merged dataframe; the rows from the `ratings` dataframe are just repeated.

Thus, the row corresponding to `bubblegum` in the `cones_df` is not included in the merged table as there is no `bubblegum` value in `ratings`. 
Similarly, the row with `vanilla` in `ratings` is not included as `vanilla` does not feature in `cones_df`.

Like other functions in pandas, `merge` creates a new dataframe and does not change the original two dataframes.

## Applying Functions to Columns

In the `datascience` library, you can use the `apply` function to transform the data of a column from our table via a function.
In the example below, we define a function `double` that doubles any input, and will consequently double the price of each ice-cream.

In [ ]:
# double the price of each cone
def double(x):
    return x * 2

cones_tbl.apply(double, "Price per Cone")

array([ 7.1,  9.5, 10.5, 10.5, 10.5,  9.5])

In `pandas`, rather than using the `apply` method, we use the [`map`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html) method on
a series. Since the series is being called on, we only need pass in the function itself.

In [ ]:
doubled_price_per_cone = cones_df["Price per Cone"].map(double)
doubled_price_per_cone

0     7.1
1     9.5
2    10.5
3    10.5
4    10.5
5     9.5
Name: Price per Cone, dtype: float64

## (Optional Section): Lambda Functions

You should have already learned about functions, but now let's take that a bit further. 
Below is a classical example of a function: the `adder`. This adder function takes in two parameters `a`
and `b` and adds them togehter.

In [ ]:
# returns the sum of the 2 input arguments
def adder(a, b):
    return a + b

adder(2, 3)

However, the above code to denote such a simple function could be more concise and more conveniently written. 
This is where the lambda function comes in: below is the same `adder` function but instead of the formal definition of a
function, we can compress the `adder` to be just one line.

In [ ]:
# set lambda_adder to be a function that behaves just like the adder function
lambda_adder = lambda a, b: a + b  
lambda_adder(2, 3)

This might seem rather unnecessary, but lambda functions are typically not intended to be used like this.
Below is an example of how thye are supposed to be used in `pandas`. If a function or method requires a function as input
and the function is simple, we can use a lambda rather than a formal function definition.

In [ ]:
# we use a lambda function instead of the double function above
doubled_price_per_cone = cones_df["Price per Cone"].map(lambda x: x * 2)
doubled_price_per_cone

## GroupBy Objects and Aggregation Functions

Suppose we wanted to find the average price for each ice cream flavor: in `datascience`, we can achieve this by calling the `group` method and specify `np.mean` as the aggregation function.

In [ ]:
cones_tbl.select('Flavor', 'Price per Cone').group('Flavor', np.mean)

Grouping in `pandas` is done with the [groupby](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html) method.
This process is slightly more involved because calling `groupby` returns a "groupby" object, which we then use to can aggregate on a column.

In [ ]:
# A groupby object is returned
cones_df[['Flavor', 'Price per Cone']].groupby('Flavor')

In addition, we will aggregate on the "groupby" object by using the `agg` function, and passing in the aggregation function.

In [ ]:
# We specify an aggregation function by calling .agg() on the resulting groupby object

cones_df[['Flavor', 'Price per Cone']].groupby('Flavor').agg(np.mean)

Note that the column we group by automatically becomes the index of the new dataframe. We can prevent this by setting `as_index=False` in our call to `groupby`.

In [ ]:
cones_df[['Flavor', 'Price per Cone']].groupby('Flavor', as_index=False).agg(np.mean)

More generally, grouping with `datascience` takes the form:

`tbl.group(column, func)`

The equivalent expression in `pandas` is:

`df.groupby(column, as_index=False).agg(func)`

## Aggregating multiple columns

In the examples above, we purposely removed the "Color" column before grouping. What happens if we try to aggregate both the "Color" and "Price" columns?

In [ ]:
# datascience
cones_tbl.group('Flavor', np.mean)

In [ ]:
# pandas
cones_df.groupby('Flavor', as_index=False).agg(np.mean)

Since the "Color" column consists of strings and it doesn't make sense to find the mean value of strings, the aggregation is not successful. 
However, we can see that the situation is handled differently by both libraries — `datascience` keeps the column as a blank column, while `pandas` drops the column entirely.

A limitation of the `datascience` package is that we can only specify one aggregation function. 
In `pandas`, we can pass in multiple aggregation functions as a list to [`agg`](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.core.groupby.DataFrameGroupBy.agg.html).

In [ ]:
# aggregate "Price per Cone" with both sum and mean functions
cones_df.groupby('Flavor', as_index=False).agg([np.sum, np.mean])

We can also specify an aggregation for each column by passing in a dictionary. 

Here, `' '.join` is a function taht will concatenate an array of strings and put a space in between each string.

In [ ]:
# aggregate the Color column by joining the strings, and aggregate the Price per Cone column by tkaing the mean
cones_df.groupby('Flavor', as_index=False).agg({'Color': ' '.join, 'Price per Cone': np.mean})

In addition, we can also write our own aggregation function and pass that in. Suppose we wanted to find half the mean price of each ice cream flavor.

In [ ]:
# aggregate all relevant columns using the half_mean function defined below
def half_mean(array):
    return np.mean(array)/2

cones_df.groupby('Flavor', as_index=False).agg(half_mean)

Lastly, we can omit `agg` entirely for some of the more common aggregation functions like sum, mean, max, and min.

In [ ]:
# aggregate all relevant columns by taking the sum
cones_df.groupby('Flavor', as_index=False).sum()

In [ ]:
# aggregate all relevant columns by taking the mean
cones_df.groupby('Flavor', as_index=False).mean()

In [ ]:
# aggregate all relevant columns by taking the max
cones_df.groupby('Flavor', as_index=False).max()

In [ ]:
# aggregate all relevant columns by taking the min
cones_df.groupby('Flavor', as_index=False).min()

## Pivot

Pivot tables are useful for us to 'break-up' our data into bins in 2 dimensions along 2 different features.
For example, we can use a pivot table would like to see the relationship between Flavor and Color on the price of ice-cream.

Let's try it using the `datascience` package first. Here is the `cones_tbl`.

The syntax for a pivot table in `datascience` is `tbl.pivot(feature_for_columns, feature_for_rows, values = feature_for_values, collect = aggregation_function)`. Here, we look at the average price for each combination of Color and Flavor.

In [ ]:
cones_tbl.pivot('Flavor', 'Color', values = 'Price per Cone', collect = np.mean)

Let us try to replicate this table in `pandas`. Here is the `cones_df` printed for reference.

The syntax for a pivot table is:
```python
pd.pivot_table(df, values = feature_for_values, 
               index = feature_for_rows, columns = feature_for_columns, 
               aggfunc = aggregation_function)
```

Let us try to sum prices.

In [ ]:
pd.pivot_table(cones_df, values='Price per Cone', index = 'Flavor', columns = 'Color', aggfunc = sum)

In `datascience`, when a combination is not in the dataset (like bubblegum and dark brown), the pivot table will show a `0`. In `pandas`, the table will show `NaN` (Not a Number). Also, as you can see, in `pandas` the values of Flavor have become the index.

To do the default pivot table of counts in `pandas`, we would pass in the `len` function, which returns the length of an array:

In [ ]:
pd.pivot_table(cones_df, values='Price per Cone', index = 'Flavor', columns = 'Color', aggfunc = len)

## Lists and List Comprehensions

Throughout Data 8, we've been dealing with `datascience` and `numpy` arrays. The reason why we use these arrays
is because they are very fast in processing large mathematical computations on columns of data. However, using these arrays is
sometimes not the best solution and can instead be slower than the more conventional python `list` objects.
Lists are just like `numpy` and `datascience` arrays but are built straight into python. 
Below are examples of a `numpy` array and a `list` containing the 
same information.

In [ ]:
# Like an array but native!
datascience_array = make_array(1, 2, 3, 4, 5)
datascience_array

array([1, 2, 3, 4, 5])

In [ ]:
python_list = [1, 2, 3, 4, 5]
python_list

[1, 2, 3, 4, 5]

Just like that `numpy` array, we can add new elements to python `list`s. Here we append
elements to both a `numpy` array and a python `list`.

In [ ]:
# Adding elements to datascience arrays
datascience_array = np.append(datascience_array, 6)
datascience_array

array([1, 2, 3, 4, 5, 6])

In [ ]:
# Adding elements to python lists
python_list.append(6)  # List appending
python_list += [7]  # List concatenation
python_list.extend([8, 9])  # List extensions
python_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

We can index the python `list` similarly to a `numpy` array. 
But instead of using `.item` in python, we directly use square brackets.

In [ ]:
datascience_array.item(5)

6

In [ ]:
python_list[5]

6

In `datascience`, if we wanted to create a list or array and repeatedly append elements into it, we would first use `make_array` to create an array then use `np.append` to add to it.

In [ ]:
doubled_for_loop_ds = make_array()
for item in datascience_array:
    doubled_for_loop_ds = np.append(doubled_for_loop_ds, item * 2)
doubled_for_loop_ds

array([ 2.,  4.,  6.,  8., 10., 12.])

In python, we can do a very similar procedure:

In [ ]:
doubled_for_loop_python = []
for item in python_list:
    doubled_for_loop_python.append(item * 2)

However, there is a much more concise and quicker way of doing the same thing in python, called a list comprehension.
Try to see if you can guess how it works:

In [ ]:
# Doubling values
datascience_array = datascience_array * 2
doubled_list = [2 * item for item in python_list]

print(datascience_array)
print(python_list)
print(doubled_list)

[ 2  4  6  8 10 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

A list comprehension has the following syntax: `[operation for element in list]`. 
In the above case, we multiplied each `element` (which we named item) by 2 to create a doubled list.

## Dictionaries

A dictionary is one of the most flexible ways to store data in python. It is an unordered collection of data values. It consists of key/value pairs. The `key` is the identifier that maps to the `value`. 

The syntax of a dictionary is `{key: value, key: value, ...}`. Here are some examples to show the versatility of dictionaries.

In [ ]:
# empty dictionary
dictionary = {}
dictionary

In [ ]:
# dictionary with one key-value pair
dictionary = {'name': 'Alan'}
dictionary

The `key` in the above example is the string 'name' and the corresponding `value` is 'Alan'.

In [ ]:
# dictionary with multiple key value pairs
dictionary = {'name': 'Alan', 7: 3, 'assortment': [6,4,8,'five']}
dictionary

Note the following things in the above example.

1. There are multiple keys: 'name', 7, 'assortment'
2. The keys need not be just strings. The integer 7 serves as a key.
3. We can store different type of values with different keys. 
Over here, the value associated with `name` is the string `Alan`. The value associated with `7` is the integer `3`. The value associated with `assortment` is the list `[6,4,8,'five']`.

You can add an item to a existing dictionary like this.

In [ ]:
dictionary["new_key"] = "new_value"
dictionary

We have added the key `new_key` with the value `new_value` to the dictionary. We can also remove a values from a dictionary like this.

In [ ]:
dictionary.pop("new_key")
dictionary

You can extract the values of a particular key from a dictionary like this: `dictionary[value]`.

In [ ]:
dictionary['name']


Note that if you index into a array or a list like `list[1]`, you get the element at index 1. 
But since a dictionary is unordered, `dictionary[1]` is looking for the integer key `1` and not the element at position 1.

In [ ]:
# this gives use the value associted with integer key 7
dictionary[7]

You can extract all the keys of a dictionary as a list using `dictionay.keys()`.

In [ ]:
dictionary.keys()

It is helpful in situations like for loops.

In [ ]:
for key in dict.keys():
    print(dict[key])

A very good use of dictionaries is to build a pandas dataframe from scratch like this.

In [ ]:
flowers_dict = {'Number of petals': [8, 34, 5],'Name': ['lotus', 'sunflower', 'rose'],'Color': ['pink', 'yellow', 'red']}
flowers_dict

In [ ]:
flowers_df = pd.DataFrame(data = flowers_dict)
flowers_df

The keys of the dictionary are automatically the column headers and the values assocatied with the key are the column values.