# Module 2: From `datascience` to `pandas`

## Why `pandas`?

Like the `datascience` package you learned and used in Data 8, `pandas` is a Python library used for data manipulation and analysis.
However, `datascience` was developed as a pedagogical tool for Data 8, intended to help students become familiarized with python syntax as well as syntax associated with tabular data analysis. 
We decided to teach `datascience` first since its syntax is more intuitive and easier to use for students without much programming experience.
On the other hand, `pandas` is an industrial strength package that is used in most data analysis projects in the real world. 
Learning how to use pandas would also make your projects easier to understand for other data scientists and extend the scope of influence your projects may have.


Now that you've completed Data 8, it's a good time to translate the functions you've learned to `pandas`. 
Throughout this notebook, we will go over `pandas` by showing similar functions in both the `datascience` syntax and `pandas` syntax, as well as introduce you to some of the other functionalities that `pandas` provides.

We will first import the packages we need. The following 3 lines imports `pandas`, `datascience`, and `numpy` respectively. 
Note that we imported `pandas` as `pd`, which means that when we call functions in `pandas`, we will always reference them with `pd` first.
In Data 8, you saw something similar when we imported `numpy` as `np`: functions like taking `np.mean` or `np.random.choice` are all from the `numpy` package.

In [ ]:
import pandas as pd # This is how we import pandas into the environment. Typically, we use pd to refer to all pandas modules for short. 
from datascience import *
import numpy as np

/opt/venv/lib/python3.7/site-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/opt/venv/lib/python3.7/site-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

## Creating a Table

### Reading in a Dataset

Most of the time, the data we want to analyze will be in a separate file, typically as a `.csv` file. 
In this case, we want to read the files in and convert them into a tabular format.

Using the `datascience` package, we will want to read in the file as a table. 
To do this, we use the function `Table.read_table(file_path)`. 
In the example below, the `baby.csv` file is in the same folder as this notebook, so the relative file path from this notebook to the csv file is just `baby.csv`.

In [ ]:
# datascience
baby_tbl = Table.read_table("baby.csv")
baby_tbl.show(5)

The syntax for reading in csv files in `pandas` is almost identical. 
`pandas` has a specific function to read in csv files called `pd.read_csv(file_path)`, with the same relative file path as its argument. 
the `dataframe.head()` function will display the first 5 rows of the data frame by default. 
If you want to specify the number of rows displayed, you can use`dataframe.head(num_rows)`.
Similarly, if you want to see the last few rows of the data frame, you can use `dataframe.tail(num_rows)`. Try it out for yourself!

In [ ]:
# pandas
baby_df = pd.read_csv("baby.csv")
baby_df.head(5)

<string>:6: RuntimeWarning: Converting input from bool to <class 'numpy.uint8'> for compatibility.

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
0,120,284,27,62,100,False
1,113,282,33,64,135,False
2,128,279,28,64,115,True
3,108,282,23,67,125,True
4,136,286,25,62,93,False

### Creating a Table from Scratch
Often times, data in tabular format is preferred for analysis. 
But what if you already have the data, just not in tabular format? 
For example, if your data is scattered in arrays and lists, you can use that to build your own table from scratch.

Using the `datascience` package, we can first create a blank table with a call to Table(), 
then add in the arrays as columns to this blank table as shown below.

In [ ]:
# datascience
flowers_tbl = Table().with_columns(
    'Number of petals', make_array(8, 34, 5),
    'Name', make_array('lotus', 'sunflower', 'rose'),
    'Color', make_array('pink', 'yellow', 'red')
) 
flowers_tbl

Number of petals | Name      | Color
8                | lotus     | pink
34               | sunflower | yellow
5                | rose      | red

There are multiple ways to do this in `pandas`. 
One way is intuitively very similar to how we did it with `datascience`. 

Here we use a dictionary object to represent the data -- don't worry if you're not familiar with them. 
We pass into the `data` argument `{"colname1": column1, "colname2": column2, ...}`.
Notably, we build the `DataFrame` by the columns, using each list as a column and associating each column with its appropriate name.

In [ ]:
# pandas - method 1
flowers_df = pd.DataFrame(data = {'Number of petals': [8, 34, 5], 
                         'Name': ['lotus', 'sunflower', 'rose'],
                         'Color': ['pink', 'yellow', 'red']})
flowers_df

   Number of petals       Name   Color
0                 8      lotus    pink
1                34  sunflower  yellow
2                 5       rose     red

Another way to build the same table from scratch is by building it with rows. 
With this method, the data should be a list of lists, where each inner list contains the entries of one row. 
You might also notice that there is now a second argument, `columns`. 
Since we are passing in rows, we do not have the column names inside the `data` argument. 
This is why we use the `columns` argument to specify column names.

In [ ]:
# pandas - method 2
flowers_df = pd.DataFrame(data = [[8, 'lotus', 'pink'], 
                                  [34, 'sunflower', 'yellow'],
                                  [5, 'rose', 'red']], 
                         columns = ['Number of petals', 'Name', 'Color'])
flowers_df

   Number of petals       Name   Color
0                 8      lotus    pink
1                34  sunflower  yellow
2                 5       rose     red

## `pandas` datatypes

### Series vs. Arrays


One of the primary data types we saw when analyzing tabular data with the `datascience` package is the array.
In `datascience`, the columns of the tables consisted of arrays. In `pandas`, there is a very similar, but slightly different data type called a `Series`.

 You can access the values of a column in a Table using the `tbl.column(column_name)` function as follows. 
 When using `tbl.column`, the values of the selected column will be returned as an array.

In [ ]:
## datascience
baby_tbl.column("Birth.Weight")

array([120, 113, 128, ..., 130, 125, 117])

Similarly in `pandas`, you can access the values of a particular column by using `dataframe[column_name]`. 
The data frame object is introduced in the next section, for now you can just understand it as the `pandas` equivalent to a table. 
`dataframe[column_name]` will return a `Series` instead of an array.

In [ ]:
## pandas
baby_df["Birth.Weight"]

0       120
1       113
2       128
3       108
4       136
       ...
1169    113
1170    128
1171    130
1172    125
1173    117
Name: Birth.Weight, Length: 1174, dtype: int64

A `Series` object is basically an array with indices for each data point. 
In the above example, the first element in the `Birth.Weight` column is the integer 120. The corresponding index is 0.

If we want just the data as an array without the index, we can use the `Series.values` attribute.

In [ ]:
baby_df["Birth.Weight"].values

array([120, 113, 128, ..., 130, 125, 117])

### DataFrames vs. Tables

The following is our standard `datascience` Table. It is basically a collection of arrays, with column names.

In [ ]:
# datascience
baby_tbl.head()

Birth.Weight | Gestational.Days | Maternal.Age | Maternal.Height | Maternal.Pregnancy.Weight | Maternal.Smoker
120          | 284              | 27           | 62              | 100                       | False
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
120          | 289              | 25           | 62              | 125                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
... (1164 rows omitted)

A `pandas`  `DataFrame` can be thought of as a collection of Series, all of which have the same index. 
The resulting `DataFrame` consists of columns where each column is a `Series` and each row has a unique index.

In [ ]:
# pandas
baby_df.head()

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
0,120,284,27,62,100,False
1,113,282,33,64,135,False
2,128,279,28,64,115,True
3,108,282,23,67,125,True
4,136,286,25,62,93,False
5,138,244,33,62,178,False
6,132,245,23,65,140,False
7,120,289,25,62,125,False
8,143,299,30,66,136,True
9,140,351,27,68,120,False
10,144,282,32,64,124,True
11,141,279,23,63,128,True
12,110,281,36,61,99,True
13,114,273,30,63,154,False
14,115,285,38,63,130,False
15,92,255,25,65,125,True
16,115,261,33,60,125,True
17,144,261,33,68,170,False
18,119,288,43,66,142,True
19,105,270,22,56,93,False
20,115,274,27,67,175,True
21,137,287,25,66,145,False
22,122,276,30,68,182,False
23,131,294,23,65,122,False
24,103,261,27,65,112,True
25,146,280,26,58,106,False
26,114,266,20,65,175,True
27,125,292,32,65,125,False
28,114,274,28,66,132,True
29,122,270,26,61,105,False
...,...,...,...,...,...,...
1144,114,266,29,64,113,False
1145,127,242,17,61,135,True
1146,87,247,18,66,125,True
1147,141,281,29,54,156,True
1148,144,283,25,66,140,False
1149,116,273,33,66,130,True
1150,75,265,21,65,103,True
1151,138,286,28,68,120,False
1152,99,271,39,69,151,False
1153,118,293,21,63,103,False
1154,97,266,24,62,109,False
1155,146,319,28,66,145,False
1156,81,285,19,63,150,True
1157,110,321,28,66,180,False
1158,135,284,19,60,95,False
1159,114,290,21,65,120,True
1160,124,288,21,64,116,True
1161,115,262,23,64,136,True
1162,143,281,28,65,135,True
1163,113,287,29,70,145,True
1164,109,244,21,63,102,True
1165,103,278,30,60,87,True
1166,118,276,34,64,116,False
1167,127,290,27,65,121,False
1168,132,270,27,65,126,False
1169,113,275,27,60,100,False
1170,128,265,24,67,120,False
1171,130,291,30,65,150,True
1172,125,281,21,65,110,False
1173,117,297,38,65,129,False

The number of rows in the `Table` can be found as such:

In [ ]:
# datascience
baby_tbl.num_rows

1174

Similarly, for the number of columns:

In [ ]:
# datascience
baby_tbl.num_columns

6

The number of rows and columns in a `DataFrame` can be accessed together using the  `.shape` attribute. 
Notice that the index is not counted as a column.

In [ ]:
# pandas
baby_df.shape

(1174, 6)

To get just the number of rows, we want the 0th element.

In [ ]:
# pandas
baby_df.shape[0]

1174

For just the number of columns, we want the 1st element.

In [ ]:
# pandas
baby_df.shape[1]

6

### Indices

The row labels of a `DataFrame` are collectively called the index. 
It helps to identify each row. 
By default, the index values are the row numbers, with the first row having index 0.

In [ ]:
# pandas
baby_df.head()

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
0,120,284,27,62,100,False
1,113,282,33,64,135,False
2,128,279,28,64,115,True
3,108,282,23,67,125,True
4,136,286,25,62,93,False

We can access the index of a `DataFrame` by calling `DataFrame.index`.

In [ ]:
baby_df.index

RangeIndex(start=0, stop=1174, step=1)

That doesn't seem too meaningful. 
We can access the values of the index using `.values`.

In [ ]:
# pandas
baby_df.index.values

array([   0,    1,    2, ..., 1171, 1172, 1173])

In addition, we can set the index to whatever we want it to be. 
So, instead of index going from 0 to 1173, we can change it to go from 1 to 1174.

In [ ]:
# pandas
baby_df.set_index(np.arange(1, 1175))

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
1,120,284,27,62,100,False
2,113,282,33,64,135,False
3,128,279,28,64,115,True
4,108,282,23,67,125,True
5,136,286,25,62,93,False
6,138,244,33,62,178,False
7,132,245,23,65,140,False
8,120,289,25,62,125,False
9,143,299,30,66,136,True
10,140,351,27,68,120,False
11,144,282,32,64,124,True
12,141,279,23,63,128,True
13,110,281,36,61,99,True
14,114,273,30,63,154,False
15,115,285,38,63,130,False
16,92,255,25,65,125,True
17,115,261,33,60,125,True
18,144,261,33,68,170,False
19,119,288,43,66,142,True
20,105,270,22,56,93,False
21,115,274,27,67,175,True
22,137,287,25,66,145,False
23,122,276,30,68,182,False
24,131,294,23,65,122,False
25,103,261,27,65,112,True
26,146,280,26,58,106,False
27,114,266,20,65,175,True
28,125,292,32,65,125,False
29,114,274,28,66,132,True
30,122,270,26,61,105,False
...,...,...,...,...,...,...
1145,114,266,29,64,113,False
1146,127,242,17,61,135,True
1147,87,247,18,66,125,True
1148,141,281,29,54,156,True
1149,144,283,25,66,140,False
1150,116,273,33,66,130,True
1151,75,265,21,65,103,True
1152,138,286,28,68,120,False
1153,99,271,39,69,151,False
1154,118,293,21,63,103,False
1155,97,266,24,62,109,False
1156,146,319,28,66,145,False
1157,81,285,19,63,150,True
1158,110,321,28,66,180,False
1159,135,284,19,60,95,False
1160,114,290,21,65,120,True
1161,124,288,21,64,116,True
1162,115,262,23,64,136,True
1163,143,281,28,65,135,True
1164,113,287,29,70,145,True
1165,109,244,21,63,102,True
1166,103,278,30,60,87,True
1167,118,276,34,64,116,False
1168,127,290,27,65,121,False
1169,132,270,27,65,126,False
1170,113,275,27,60,100,False
1171,128,265,24,67,120,False
1172,130,291,30,65,150,True
1173,125,281,21,65,110,False
1174,117,297,38,65,129,False

Let's look at another example.

In [ ]:
flowers_df

   Number of petals       Name   Color
0                 8      lotus    pink
1                34  sunflower  yellow
2                 5       rose     red

The labels in an index of a `DataFrame` do not have to be intergers; they can also be strings. 
We can also use one of the data columns to be the index itself. 

Here is an example in which we are setting the index to be the `Name` column.

In [ ]:
# pandas
flowers_df = flowers_df.set_index('Name')
flowers_df

           Number of petals   Color
Name
lotus                     8    pink
sunflower                34  yellow
rose                      5     red

## Subsetting Data

### Selecting Columns

Sometimes the entire dataset contains too many columns, and we are only interested in some of the columns. 
In these situations, we would want to be able to select and display a subset of the columns from the original table. 
We dicuss some of these methods below.

In the `datascience` package, the `select` function is used. 
If we want the returned columns to be a table as well, we use the syntax `tbl.select(col_name1, col_name2, ...)`

In [ ]:
# datascience
# Selects the columns "Number of petals" and "Color".
flowers_tbl.select("Number of petals", "Name")

Number of petals | Name
8                | lotus
34               | sunflower
5                | rose

In `pandas`, there are many ways to achieve the same result. For one, we can use the function `loc`, shown below. 

The first argument of `loc` is which rows we want to select, and since we want all of the rows, just a colon ":" would indicate all rows. 
The second argument selects the columns we want. 

If we want more than one column, we need to pass in the column names as a list for the `loc` to return a dataframe object.

In [ ]:
# pandas
# Selects all rows and the columns "Number of petals" and "Color".
flowers_df.loc[:,["Number of petals", "Color"]]

   Number of petals   Color
0                 8    pink
1                34  yellow
2                 5     red

If you pass in a single column name as a list, it will still return a dataframe object with one column.

In [ ]:
# pandas
# Selects all rows but only the column "Number of petals". Returns a DataFrame object.
flowers_df.loc[:,["Number of petals"]]

   Number of petals
0                 8
1                34
2                 5

But if you pass in the column name as a string, pandas will recognize that you only have one column, and return a `Series` instead.

In [ ]:
# pandas
# Selects all rows but only the column "Number of petals". Returns a series object.
flowers_df.loc[:,"Number of petals"]

0     8
1    34
2     5
Name: Number of petals, dtype: int64

Another way to subset data in `pandas` is to use `iloc`. 

Unlike `loc`, which accepts column names as arguments, `iloc` only accepts numerical indices as its arguments. 
The order of arguments remain the same, with the rows being the first argument and the columns being the second argument. 
Here the `0:1` denotes a range and means that we want all columns indexed 0 through 1. 
In Python, ranges are generally left inclusive and right exclusive (so that only column 0 is selected here).

In [ ]:
# pandas
# Selects all rows and the 0th-1st column (not inclusive of the 1st column)
flowers_df.iloc[:,0:1]

   Number of petals
0                 8
1                34
2                 5

As a side note, we can also subset tables' rows by selecting row indices. 
Since we've set the index of the flowers table to be the name of the flower, we can directly pass in the row indices as a list as the first argument. 
Note that here, `loc` is actually left and right inclusive.

In [ ]:
# pandas
# Selects the rows with index values "sunflower" and "lotus", and all columns
flowers_df.loc[["sunflower", "lotus"], :]

           Number of petals   Color
Name
sunflower                34  yellow
lotus                     8    pink

In [ ]:
# pandas
# Selects the rows with index values from 0 to 3 (inclusive of 0 and 3), and all columns
baby_df.loc[0:3,:]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
0,120,284,27,62,100,False
1,113,282,33,64,135,False
2,128,279,28,64,115,True
3,108,282,23,67,125,True

`loc` and `iloc` are very powerful functions in `pandas`. 
Here are 2 more examples on the `baby` table, let's see what they do:

In [ ]:
# pandas
# Selects the 0th and 2nd column, and all rows of the table
baby_df.iloc[:, [0,2]]

      Birth.Weight  Maternal.Age
0              120            27
1              113            33
2              128            28
3              108            23
4              136            25
...            ...           ...
1169           113            27
1170           128            24
1171           130            30
1172           125            21
1173           117            38

[1174 rows x 2 columns]

If we want to only select a subset of columns from the table, there exists a special case short-cut where we drop the `.loc` and `:` entirely:

In [ ]:
# pandas
# Selects the columns "Birth.Weight" and "Maternal.Age" with all rows
baby_df[["Birth.Weight", "Maternal.Age"]]

      Birth.Weight  Maternal.Age
0              120            27
1              113            33
2              128            28
3              108            23
4              136            25
...            ...           ...
1169           113            27
1170           128            24
1171           130            30
1172           125            21
1173           117            38

[1174 rows x 2 columns]

### Getting a Value

What if you want to single out one entry of your entire table? 
This often occurs when we want to max or min value after sorting the table, for example:
- *What is the name of the flower with the most number of petals?*
- *How heavy was the baby that went through the longest gestational days?*

When we want a specific entry using the `datascience` package, we need to first use `tbl.column` to fetch an array out of a table, then use `.item` to retrieve the element's value. 
In the code below, we get the birth weight of the first baby recorded in this dataset.

In [ ]:
# datascience
# Get the first item from the "Birth.Weight" column
baby_tbl.column("Birth.Weight").item(0)

120

In `pandas`, the syntax for getting a single element is a lot less verbose. 
Remember `loc` and `iloc`? Since these functions have the ability to subset rows and columns at the same time, we are going to use that functionality here. 

We pass in 0 as the row selector, since we only want the first entry of the "Birth.Weight" column (the entry at the 0th index).

In [ ]:
# pandas
# Get the value at row with index 0 and column with label "Birth.Weight".
baby_df.loc[0,"Birth.Weight"]

120

Similarly with iloc, we are just passing in 0 as the first and second argument since we want the entry located at the first row and first column, which are both indexed at 0.

In [ ]:
# pandas
# Get the value at the 0th row and 0th column.
baby_df.iloc[0,0]

120

In [ ]:
# pandas
# Get the rows with indices 0 to 5 (inclusive) of the "Birth.Weight" column
baby_df.loc[0:5, "Birth.Weight"]

0    120
1    113
2    128
3    108
4    136
5    138
Name: Birth.Weight, dtype: int64

In [ ]:
# pandas
# Select the first five columns of the first two rows
baby_df.iloc[0:2, 0:5]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight
0,120,284,27,62,100
1,113,282,33,64,135

# Methods

## Filtering and Boolean Indexing

With the `datascience` package, we can filter a table by only returning rows that satisfy a specific condition.

In [ ]:
# datascience
# Returns all of the rows where "Birth.Weight" is greater than 120
baby_tbl.where('Birth.Weight', are.above(120))

Birth.Weight | Gestational.Days | Maternal.Age | Maternal.Height | Maternal.Pregnancy.Weight | Maternal.Smoker
128          | 279              | 28           | 64              | 115                       | True
136          | 286              | 25           | 62              | 93                        | False
138          | 244              | 33           | 62              | 178                       | False
132          | 245              | 23           | 65              | 140                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
144          | 282              | 32           | 64              | 124                       | True
141          | 279              | 23           | 63              | 128                       | True
144          | 261              | 33           | 68              | 170                       | False
137          | 287              | 25           | 66              | 145                       | False
... (558 rows omitted)

Equivalently, we can do this in `pandas` by "boolean indexing". 
The expression below returns a boolean series where an entry is `True` if it satisfies the condition and `False` if it doesn't.

In [ ]:
# pandas
baby_df['Birth.Weight'] > 120

0       False
1       False
2        True
3       False
4        True
        ...
1169    False
1170     True
1171     True
1172     True
1173    False
Name: Birth.Weight, Length: 1174, dtype: bool

If we want to filter our `pandas` dataframe for all rows that satisfies Birth.Weight > 120, we can pass the boolean series into the row argument of `.loc`. 
The idea is that we only want the rows where the "boolean index" is `True`.

In [ ]:
# pandas
# Select all rows that are True in the boolean series baby_df['Birth.Weight'] > 120.
baby_df.loc[baby_df['Birth.Weight'] > 120, :]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
2,128,279,28,64,115,True
4,136,286,25,62,93,False
5,138,244,33,62,178,False
6,132,245,23,65,140,False
8,143,299,30,66,136,True
9,140,351,27,68,120,False
10,144,282,32,64,124,True
11,141,279,23,63,128,True
17,144,261,33,68,170,False
21,137,287,25,66,145,False
22,122,276,30,68,182,False
23,131,294,23,65,122,False
25,146,280,26,58,106,False
27,125,292,32,65,125,False
29,122,270,26,61,105,False
31,130,268,30,66,123,False
34,134,283,22,67,130,False
36,134,288,23,63,92,True
37,122,267,27,65,101,True
38,129,293,30,61,160,False
42,143,274,27,63,110,True
43,155,294,32,66,150,False
45,122,275,26,66,147,False
46,145,291,26,63,119,True
50,143,286,31,64,126,False
51,146,267,30,67,132,False
52,124,275,22,60,130,False
53,124,278,26,70,145,True
54,145,257,33,65,140,False
58,124,288,22,67,118,False
...,...,...,...,...,...,...
1099,141,293,28,61,125,False
1100,131,259,19,63,134,False
1101,130,290,19,65,123,True
1102,132,270,26,67,140,False
1104,160,291,34,64,110,True
1108,139,311,37,66,135,False
1110,130,294,32,63,110,True
1114,123,353,26,63,115,False
1116,124,289,21,67,145,True
1117,138,292,25,65,130,True
1119,128,241,17,64,126,False
1124,126,298,24,61,112,False
1125,122,275,20,65,127,False
1126,152,295,39,62,140,False
1128,132,302,36,63,145,True
1132,139,291,24,65,160,False
1141,130,297,32,58,130,False
1145,127,242,17,61,135,True
1147,141,281,29,54,156,True
1148,144,283,25,66,140,False
1151,138,286,28,68,120,False
1155,146,319,28,66,145,False
1158,135,284,19,60,95,False
1160,124,288,21,64,116,True
1162,143,281,28,65,135,True
1167,127,290,27,65,121,False
1168,132,270,27,65,126,False
1170,128,265,24,67,120,False
1171,130,291,30,65,150,True
1172,125,281,21,65,110,False

Notably, `.loc` returns all columns by default so we can omit the column argument and get the same result.

In [ ]:
# pandas
# Select all rows that are True in the boolean series baby_df['Birth.Weight'] > 120.
baby_df.loc[baby_df['Birth.Weight'] > 120]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
2,128,279,28,64,115,True
4,136,286,25,62,93,False
5,138,244,33,62,178,False
6,132,245,23,65,140,False
8,143,299,30,66,136,True
9,140,351,27,68,120,False
10,144,282,32,64,124,True
11,141,279,23,63,128,True
17,144,261,33,68,170,False
21,137,287,25,66,145,False
22,122,276,30,68,182,False
23,131,294,23,65,122,False
25,146,280,26,58,106,False
27,125,292,32,65,125,False
29,122,270,26,61,105,False
31,130,268,30,66,123,False
34,134,283,22,67,130,False
36,134,288,23,63,92,True
37,122,267,27,65,101,True
38,129,293,30,61,160,False
42,143,274,27,63,110,True
43,155,294,32,66,150,False
45,122,275,26,66,147,False
46,145,291,26,63,119,True
50,143,286,31,64,126,False
51,146,267,30,67,132,False
52,124,275,22,60,130,False
53,124,278,26,70,145,True
54,145,257,33,65,140,False
58,124,288,22,67,118,False
...,...,...,...,...,...,...
1099,141,293,28,61,125,False
1100,131,259,19,63,134,False
1101,130,290,19,65,123,True
1102,132,270,26,67,140,False
1104,160,291,34,64,110,True
1108,139,311,37,66,135,False
1110,130,294,32,63,110,True
1114,123,353,26,63,115,False
1116,124,289,21,67,145,True
1117,138,292,25,65,130,True
1119,128,241,17,64,126,False
1124,126,298,24,61,112,False
1125,122,275,20,65,127,False
1126,152,295,39,62,140,False
1128,132,302,36,63,145,True
1132,139,291,24,65,160,False
1141,130,297,32,58,130,False
1145,127,242,17,61,135,True
1147,141,281,29,54,156,True
1148,144,283,25,66,140,False
1151,138,286,28,68,120,False
1155,146,319,28,66,145,False
1158,135,284,19,60,95,False
1160,124,288,21,64,116,True
1162,143,281,28,65,135,True
1167,127,290,27,65,121,False
1168,132,270,27,65,126,False
1170,128,265,24,67,120,False
1171,130,291,30,65,150,True
1172,125,281,21,65,110,False

Boolean indexing is a very popular way to conduct filtering in `pandas`. As such, there exists another special case short-ahnd where we don't need the `.loc` or the `:`.

In [ ]:
# pandas
# Select all rows that are True in the boolean series baby_df['Birth.Weight'] > 120.
baby_df[baby_df['Birth.Weight'] > 120]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
2,128,279,28,64,115,True
4,136,286,25,62,93,False
5,138,244,33,62,178,False
6,132,245,23,65,140,False
8,143,299,30,66,136,True
9,140,351,27,68,120,False
10,144,282,32,64,124,True
11,141,279,23,63,128,True
17,144,261,33,68,170,False
21,137,287,25,66,145,False
22,122,276,30,68,182,False
23,131,294,23,65,122,False
25,146,280,26,58,106,False
27,125,292,32,65,125,False
29,122,270,26,61,105,False
31,130,268,30,66,123,False
34,134,283,22,67,130,False
36,134,288,23,63,92,True
37,122,267,27,65,101,True
38,129,293,30,61,160,False
42,143,274,27,63,110,True
43,155,294,32,66,150,False
45,122,275,26,66,147,False
46,145,291,26,63,119,True
50,143,286,31,64,126,False
51,146,267,30,67,132,False
52,124,275,22,60,130,False
53,124,278,26,70,145,True
54,145,257,33,65,140,False
58,124,288,22,67,118,False
...,...,...,...,...,...,...
1099,141,293,28,61,125,False
1100,131,259,19,63,134,False
1101,130,290,19,65,123,True
1102,132,270,26,67,140,False
1104,160,291,34,64,110,True
1108,139,311,37,66,135,False
1110,130,294,32,63,110,True
1114,123,353,26,63,115,False
1116,124,289,21,67,145,True
1117,138,292,25,65,130,True
1119,128,241,17,64,126,False
1124,126,298,24,61,112,False
1125,122,275,20,65,127,False
1126,152,295,39,62,140,False
1128,132,302,36,63,145,True
1132,139,291,24,65,160,False
1141,130,297,32,58,130,False
1145,127,242,17,61,135,True
1147,141,281,29,54,156,True
1148,144,283,25,66,140,False
1151,138,286,28,68,120,False
1155,146,319,28,66,145,False
1158,135,284,19,60,95,False
1160,124,288,21,64,116,True
1162,143,281,28,65,135,True
1167,127,290,27,65,121,False
1168,132,270,27,65,126,False
1170,128,265,24,67,120,False
1171,130,291,30,65,150,True
1172,125,281,21,65,110,False

In general, a filtering expression of the form `tbl.where(column, predicate)` in the `datascience` library takes the form `df.loc[criterion]` in `pandas`. 
Here are a few more examples:

In [ ]:
# datascience
# Return all rows where Maternal.Height is greater than or equal to 63.
baby_tbl.where('Maternal.Height', are.above_or_equal_to(63))

Birth.Weight | Gestational.Days | Maternal.Age | Maternal.Height | Maternal.Pregnancy.Weight | Maternal.Smoker
113          | 282              | 33           | 64              | 135                       | False
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
132          | 245              | 23           | 65              | 140                       | False
143          | 299              | 30           | 66              | 136                       | True
140          | 351              | 27           | 68              | 120                       | False
144          | 282              | 32           | 64              | 124                       | True
141          | 279              | 23           | 63              | 128                       | True
114          | 273              | 30           | 63              | 154                       | False
115          | 285              | 38           | 63              | 130                       | False
... (846 rows omitted)

In [ ]:
# pandas
# Return all rows where Maternal.Height is greater than or equal to 63.
baby_df[baby_df['Maternal.Height'] >= 63]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
1,113,282,33,64,135,False
2,128,279,28,64,115,True
3,108,282,23,67,125,True
6,132,245,23,65,140,False
8,143,299,30,66,136,True
9,140,351,27,68,120,False
10,144,282,32,64,124,True
11,141,279,23,63,128,True
13,114,273,30,63,154,False
14,115,285,38,63,130,False
15,92,255,25,65,125,True
17,144,261,33,68,170,False
18,119,288,43,66,142,True
20,115,274,27,67,175,True
21,137,287,25,66,145,False
22,122,276,30,68,182,False
23,131,294,23,65,122,False
24,103,261,27,65,112,True
26,114,266,20,65,175,True
27,125,292,32,65,125,False
28,114,274,28,66,132,True
31,130,268,30,66,123,False
33,113,281,24,65,120,False
34,134,283,22,67,130,False
35,107,279,24,63,115,False
36,134,288,23,63,92,True
37,122,267,27,65,101,True
39,110,278,23,63,177,False
41,87,248,37,65,130,True
42,143,274,27,63,110,True
...,...,...,...,...,...,...
1136,102,281,19,67,135,True
1137,120,300,34,63,150,True
1138,102,338,19,64,170,False
1139,97,255,22,63,107,True
1140,113,285,22,70,145,False
1142,97,260,25,63,115,True
1144,114,266,29,64,113,False
1146,87,247,18,66,125,True
1148,144,283,25,66,140,False
1149,116,273,33,66,130,True
1150,75,265,21,65,103,True
1151,138,286,28,68,120,False
1152,99,271,39,69,151,False
1153,118,293,21,63,103,False
1155,146,319,28,66,145,False
1156,81,285,19,63,150,True
1157,110,321,28,66,180,False
1159,114,290,21,65,120,True
1160,124,288,21,64,116,True
1161,115,262,23,64,136,True
1162,143,281,28,65,135,True
1163,113,287,29,70,145,True
1164,109,244,21,63,102,True
1166,118,276,34,64,116,False
1167,127,290,27,65,121,False
1168,132,270,27,65,126,False
1170,128,265,24,67,120,False
1171,130,291,30,65,150,True
1172,125,281,21,65,110,False
1173,117,297,38,65,129,False

In [ ]:
# datascience
# Return all rows where Maternal.Smoker is True.
baby_tbl.where('Maternal.Smoker', are.equal_to(True))

Birth.Weight | Gestational.Days | Maternal.Age | Maternal.Height | Maternal.Pregnancy.Weight | Maternal.Smoker
128          | 279              | 28           | 64              | 115                       | True
108          | 282              | 23           | 67              | 125                       | True
143          | 299              | 30           | 66              | 136                       | True
144          | 282              | 32           | 64              | 124                       | True
141          | 279              | 23           | 63              | 128                       | True
110          | 281              | 36           | 61              | 99                        | True
92           | 255              | 25           | 65              | 125                       | True
115          | 261              | 33           | 60              | 125                       | True
119          | 288              | 43           | 66              | 142                       | True
115          | 274              | 27           | 67              | 175                       | True
... (449 rows omitted)

In [ ]:
# pandas
# Return all rows where Maternal.Smoker is True.
baby_df.loc[baby_df['Maternal.Smoker'] == True]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
2,128,279,28,64,115,True
3,108,282,23,67,125,True
8,143,299,30,66,136,True
10,144,282,32,64,124,True
11,141,279,23,63,128,True
12,110,281,36,61,99,True
15,92,255,25,65,125,True
16,115,261,33,60,125,True
18,119,288,43,66,142,True
20,115,274,27,67,175,True
24,103,261,27,65,112,True
26,114,266,20,65,175,True
28,114,274,28,66,132,True
36,134,288,23,63,92,True
37,122,267,27,65,101,True
41,87,248,37,65,130,True
42,143,274,27,63,110,True
46,145,291,26,63,119,True
48,108,283,31,65,148,True
53,124,278,26,70,145,True
59,122,280,23,65,125,True
60,101,245,23,63,130,True
61,128,283,28,63,125,True
62,104,282,36,65,115,True
64,137,274,26,69,137,True
65,103,273,31,63,170,True
69,133,284,25,66,125,True
71,91,270,24,60,149,True
73,153,286,26,63,107,True
76,99,272,27,62,103,True
...,...,...,...,...,...,...
1116,124,289,21,67,145,True
1117,138,292,25,65,130,True
1118,88,276,25,63,103,True
1120,82,274,31,64,101,True
1123,97,269,20,65,137,True
1127,116,274,21,62,110,True
1128,132,302,36,63,145,True
1130,119,277,18,61,89,True
1131,106,312,24,62,135,True
1133,103,273,36,65,158,True
1134,112,299,24,67,145,True
1135,96,276,33,64,127,True
1136,102,281,19,67,135,True
1137,120,300,34,63,150,True
1139,97,255,22,63,107,True
1142,97,260,25,63,115,True
1145,127,242,17,61,135,True
1146,87,247,18,66,125,True
1147,141,281,29,54,156,True
1149,116,273,33,66,130,True
1150,75,265,21,65,103,True
1156,81,285,19,63,150,True
1159,114,290,21,65,120,True
1160,124,288,21,64,116,True
1161,115,262,23,64,136,True
1162,143,281,28,65,135,True
1163,113,287,29,70,145,True
1164,109,244,21,63,102,True
1165,103,278,30,60,87,True
1171,130,291,30,65,150,True

## Filtering on Multiple Conditions

We can also filter on multiple conditions. 
If we want records (rows) where all of the conditions are true, we separate our criterion by the `&` symbol, where `&` represents *and*.

`df.loc[(boolean series 1) & (boolean series 2) & (boolean series 2)]`

If we just want one of the conditions to be true, we separate our criterion by `|` symbols, where `|` represents *or*.

`df.loc[(boolean series 1) | (boolean series 2) | (boolean series 2)]`

In [ ]:
# datascience
# Return all rows where Gestational.Days is between 270 and 280.
baby_tbl.where('Gestational.Days', are.between(270, 280))

Birth.Weight | Gestational.Days | Maternal.Age | Maternal.Height | Maternal.Pregnancy.Weight | Maternal.Smoker
128          | 279              | 28           | 64              | 115                       | True
141          | 279              | 23           | 63              | 128                       | True
114          | 273              | 30           | 63              | 154                       | False
105          | 270              | 22           | 56              | 93                        | False
115          | 274              | 27           | 67              | 175                       | True
122          | 276              | 30           | 68              | 182                       | False
114          | 274              | 28           | 66              | 132                       | True
122          | 270              | 26           | 61              | 105                       | False
93           | 278              | 34           | 61              | 146                       | False
119          | 275              | 23           | 60              | 105                       | False
... (338 rows omitted)

In [ ]:
# pandas
# Select all rows where Gestational.Days are above or equal to 270, but less than 280.
baby_df.loc[(baby_df['Gestational.Days'] >= 270) & (baby_df['Gestational.Days'] < 280)]

,Birth.Weight,Gestational.Days,Maternal.Age,Maternal.Height,Maternal.Pregnancy.Weight,Maternal.Smoker
2,128,279,28,64,115,True
11,141,279,23,63,128,True
13,114,273,30,63,154,False
19,105,270,22,56,93,False
20,115,274,27,67,175,True
22,122,276,30,68,182,False
28,114,274,28,66,132,True
29,122,270,26,61,105,False
30,93,278,34,61,146,False
32,119,275,23,60,105,False
35,107,279,24,63,115,False
39,110,278,23,63,177,False
40,111,270,27,61,119,False
42,143,274,27,63,110,True
44,110,272,25,60,90,False
45,122,275,26,66,147,False
52,124,275,22,60,130,False
53,124,278,26,70,145,True
55,106,273,28,60,116,False
57,107,273,24,61,96,False
64,137,274,26,69,137,True
65,103,273,31,63,170,True
66,142,276,38,63,170,False
70,120,274,24,62,120,False
71,91,270,24,60,149,True
72,127,274,21,62,110,False
74,121,276,39,63,130,False
75,120,277,27,63,126,False
76,99,272,27,62,103,True
80,114,274,33,67,148,True
...,...,...,...,...,...,...
1052,129,275,24,65,135,False
1054,110,276,31,70,155,False
1055,118,273,21,63,120,False
1061,117,270,23,58,115,False
1063,128,277,39,61,120,False
1068,126,271,21,60,105,False
1071,140,274,41,63,122,False
1075,98,279,18,65,115,True
1079,137,276,25,64,127,False
1087,106,279,29,63,125,True
1098,112,270,29,61,124,False
1102,132,270,26,67,140,False
1112,82,270,21,65,150,True
1115,115,278,27,59,95,False
1118,88,276,25,63,103,True
1120,82,274,31,64,101,True
1121,100,274,24,63,113,False
1122,114,271,32,61,130,False
1125,122,275,20,65,127,False
1127,116,274,21,62,110,True
1130,119,277,18,61,89,True
1133,103,273,36,65,158,True
1135,96,276,33,64,127,True
1143,116,273,31,61,120,False
1149,116,273,33,66,130,True
1152,99,271,39,69,151,False
1165,103,278,30,60,87,True
1166,118,276,34,64,116,False
1168,132,270,27,65,126,False
1169,113,275,27,60,100,False